* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Montserrat;
    width: auto;
    margin: auto;
    padding: auto;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;

}

#search {
    width: 130px;
    border: 1px solid #026800E5;
    border-radius: 6px 0px 6px 0px;
    padding: 5px;
}

nav ::placeholder {
    font-family: Montserrat;
    font-size: 16px;
}

.submit {
    background-color: #026800E5;
    border: none;
    height: 30px;
    width: 36px;
    margin: none;
    cursor: pointer;
    border-radius: 6px 0px 6px 0px;
}

.nav {
    display: flex;
    gap: 30px;
}

nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #2B2B2B;
    margin-top: 4px;

}

.icon {
    display: none;

}

header img {
    width: 12%;
}



/* MAIN */

main {
    background-image: url('Polygon\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    padding: 10%;
}

main img {
    width: 526.5px;
    height: 600px;


}

h2 {
    font-family: 'graduate';
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 10px;
    line-height: 23px;


}










/* FOOTER */

footer {
    background-color: #D9D9D9;
    display: flex;
    width: auto;
    height: auto;
    /* top: 1634px; */

}

#png {
    width: 70%;
    align-items: center;
    margin: 10%;
}

.footerdiv1 {
    padding: 1%;

}

.png {
    display: flex;
    gap: 16px;

}

.png img {
    width: 40px;
    height: 40px;

}


.footerdiv2 {
    padding: 1%;
    padding-right: 4%;

}

.footerdiv3 {
    margin-left: 7%;
}

.graduate {
    font-family: Graduate;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}

.links {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email {
    width: 240px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 7px;
}

.email1 {
    width: 240px;
    padding: 10px;
    border-radius: 19px;
    border: none;
    background-color: #014400;
}

.email1:hover {
    background-color: #FFFFFF;
color: white;
}

.email1 a {
    color: white;
}




/* MEDIA QUERRY */

/* max-width 930px */

@media screen and (min-width:825px) and (max-width:930px) {
    header img {
        width: 20%;
    }


    main {
        flex-direction: column;

    }



    main img {
        margin-left: 10%;
        margin-top: 5%;
    }

    main div {
        color: white;
    }

    footer form {
        margin-top: 5%;
    }
}

/* Max-width 825px */

@media screen and (min-width:717px) and (max-width:825px) {
    header img {
        width: 20%;
        margin-right: 5%;
    }


    main {
        flex-direction: column;
        color: white;
        
    }


main img{
    width:80% ;
    margin-top: 5%;
    margin-left: 10%;
}

    .nav {
        display: none;
        flex-direction: column;
    }

    .icon {
        display: block;
    }
    nav a {
        text-decoration: none;
        color: black;
        font-size: x-large;
    }
    footer form {
        margin-top: 5%;
    }
}


/* Max-width 717px */

@media screen and (min-width:563px) and (max-width:717px) {
    header img {
        width: 20%;
        margin-right: 5%;
    }


    main {
        flex-direction: column;
        color: white;
        
    }


main img{
    width:80% ;
    margin-top: 7%;
    margin-left: 10%;
}

    .nav {
        display: none;
        flex-direction: column;
    }

    .icon {
        display: block;
    }
    nav a {
        text-decoration: none;
        color: black;
        font-size: x-large;
    }
    footer form {
        margin-top: 5%;
      
    }

    main{
        width: 107%;
    }

    footer{
        width: 107%;
    }
}





@media screen and (max-width:563px) {

    /* HEADER */



    header img {
        width: 35%;
    }

    .nav {
        display: none;
        flex-direction: column;
    }


    .submit {
        display: none;
    }

    #search {
        display: none;
    }

    nav .icon {
        display: block;

    }

    nav a {
        text-decoration: none;
        color: black;
        font-size: x-large;
    }

    .visible {
        display: block;
        padding: 10px;
    }

    /* MAIN */
    main {
        width: 100%;
        flex-direction: column;
    }


    main img {
        width: 80%;
        height: 441px;
        margin-top: 17%;
        margin-left: 10%;
    }

    main div {
        color: white;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
        width: 100%;
    }

    hr {
        flex-direction: row;
        width: 100%;
    }

    #png {
        width: 40%;
    }

    .png img {
        width: 40px;
        height: 40px;

    }

    .footerdiv1 {
        padding-left: 30%;

    }
}

/* mobile s 320px */

@media screen and (max-width:360px) {

    main {
        width: 120%;
        /* padding: 20%; */
    }

    main img {
height: 30%;
        margin-top: 20%;
    }

    footer {
        width: 120%;
    }
}


/* mobile s 300px */

@media screen and (max-width:300px) {

    main {
        width: 150%;
        /* padding: 20%; */
    }

    main img {

        margin-top: 20%;
    }

    footer {
        width: 150%;
    }
}

/* mobile s 240px */

@media screen and (max-width:240px) {

    main {
        width: 200%;
        /* padding: 20%; */
    }

    main img {

        margin-top: 20%;
    }

    footer {
        width: 200%;
    }
}