* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Montserrat;
    width: auto;
    margin: auto;
    padding: auto;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
    color: #2B2B2B;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;

}

#search {
    width: 130px;
    border: 1px solid #026800E5;
    border-radius: 6px 0px 6px 0px;
    padding: 5px;
}

nav ::placeholder {
    font-family: Montserrat;
    font-size: 16px;
}

.submit {
    background-color: #026800E5;
    border: none;
    height: 30px;
    width: 36px;
    margin: none;
    cursor: pointer;
    border-radius: 6px 0px 6px 0px;
    color: white;
}

.nav {
    display: flex;
    gap: 30px;
}
.icon{
    display: none;
}
nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #2B2B2B;
    margin-top: 4px;

}

header img {
    width: 12%;
}


/* MAIN */
.solo {}

.firstdiv {
    /* width: 1440px; */
    background-image: url('mountains-139012_1280\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 12%;

}

.firstdiv h2 {
    color: #CCDACC;
    font-family: Graduate;
    /* font-size: 22px; */
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}

.firstdiv p {
    color: #FFFFFF;
    text-align: center;
    /* width: 50%; */
    padding: 3% 10% 0% 10%;
    line-height: 30px;
}





/* LAST */

.last {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
}


.lastdiv {
    width: 380px;
    height: 323px;
 margin-bottom: 8%;

}

.lastdiv img {
    width: 380px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lastdiv p {
    /* font-size: 21px; */
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B2B2B;
    /* width:190px; */
}


.lastdiv p {
    text-align: center;
}




.more {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 9px 0px 9px 0px;
    border-bottom: 1px solid#014400;
    gap: 10px;
    color: #014400;
    text-align: center;
    margin-left: 40%;
    color: #014400;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;

}

.more:hover {
    background-color: #014400;
    color: white;
}




.last1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
    margin-bottom: 15%;

}

.lastdiv1 {
    width: 380px;
    height: 323px;
    top: 2279px;
    left: 69px;
}

.lastdiv1 img {
    width: 380px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lastdiv1 h3 {
    text-align: center;
}

.lastdiv1 p {
    text-align: left;
}


/* LAST2 */


.last2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
    margin-bottom: 15%;

}

.lastdiv2 {
    width: 380px;
    height: 323px;
    top: 2279px;
    left: 69px;
}

.lastdiv2 img {
    width: 380px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lastdiv2 h3 {
    text-align: center;
}

.lastdiv2 p {
    text-align: left;
}









/* FOOTER */

footer {
    background-color: #D9D9D9;
    display: flex;
    width: auto;
    height: auto;
    /* top: 1634px; */

}


#png {
    width: 70%;
    align-items: center;
    margin: 10%;
}

.footerdiv1 {
  

   
}

.png {
    display: flex;
    gap: 16px;

}

.png img {
    width: 40px;
    height: 40px;

}


.footerdiv2 {
    padding-right: 5%;
}

.footerdiv3 {
    margin-left: 7%;
}

.graduate {
    font-family: Graduate;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}

.links {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email {
    width: 240px;
    padding: 10px;
    border-radius: 9px 0px 9px 0px;
    border: none;
    border: 1px solid #014400;
    margin-bottom: 7px;
}
.email::placeholder{
    /* font-weight: 600; */
    font-family: montserrat;
    font-size: 14px;
}
.email1 {
    width: 240px;
    padding: 10px;
    border-radius: 9px 0px 9px 0px;
    border-bottom: 1px solid #e9f0e9;
    background-color: #014400;
        color: #014400;
        color: white;
}

.email1:hover {
    background-color: #FFFFFF;
    color: #014400;
    border: 1px solid #044903;
}

.hamburger{
    display: none;
}






/* MEDIA QUERRY */

/* screen 1186 */
@media screen and (min-width:717px)and (max-width:1186px) {
 body{
    width:1186px;
 }
}
/* Max-width 717px */
@media screen  and (max-width:717px) {
    body{
        width:100%;
    }
    header img {
        width: 20%;
        margin-right: 5%;
    }

    .nav {
        display: none;
        flex-direction: column;
    }   

    .icon {
        display: block;
    }
    nav a {
        text-decoration: none;
        color: black;
        font-size: x-large;
    }


    /* hamburger menu */
header{
    position: relative;
    z-index: 1;
}
    
.hamburger{
    position: absolute;
    background-color: white;

    width: 1300%;
    height: 30rem;
    left: 300px;
}

.hamburger ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.hamburger ul li {
    padding: 10px;
}



.hamburger ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  text-align: center;
    font-style: normal;
    font-weight: 600;
top: 100px;

}

.visible {
    display: block;
    padding: 10px;
    align-items: center;
    text-align: center;
}
  

/* FOOTER */
footer{
    flex-direction: column;
    width: 100%;
}
hr{
    flex-direction: row;
    width: 100%;
}
#png{
    width: 40%;
}
.png img{
    width: 40px;
height: 40px;

}
.footerdiv1{
    padding-left: 40%; 
  
}


.footerdiv2{
    padding-left: 20%; 
  
}



/* MAIN */
.firstdiv{
    width: auto;
}
/* .LAST */
.last{
margin-bottom: 7%;
    flex-direction: column;
}
#best{
    display: block;
}
.lastdiv{
    display: none;
}


/* LAST1 */
.last1{
    margin-bottom: 25%;
    flex-direction: column;
}
.lastdiv1{
    display: none;
}

#india{
    display: block;
}


/* LAST2 */
.last2{
    flex-direction: column;
    margin-bottom: 7%;
}
.last2{
    display: none;
}
#forest{
    display: block;
}
}





/* screen 563 */
@media screen and (max-width:563px) {
   
    /* HEADER */


  header img{
width: 35%;
  }  
.nav{
    display: none;
    flex-direction: column;
}


.submit{
    display: none;
}
#search{
    display: none;
}

nav .icon{
    display: block;

}
nav a{
text-decoration: none;
color: black;
}

.visible{
    display: block;
    padding: 10px;
}





/* FOOTER */
footer{
    flex-direction: column;
    width: 100%;
}
hr{
    flex-direction: row;
    width: 100%;
}
#png{
    width: 40%;
}
.png img{
    width: 40px;
height: 40px;

}
.footerdiv1{
    padding-left: 35%; 
  
}


/* MAIN */
main{
    padding-bottom: 10%;
}
}

/* screen 521 */
@media screen and (max-width:521px) {
    .last{
        margin-bottom: 15%;
    }

}

/* screen 425 */
@media screen and (max-width:425px) {
 body{
    width: 100%;
 }
 .firstdiv{
    width: auto;
 }
.last{
    margin-bottom: 0px;
    margin-top: 9%;
    width: auto;
}
    .lastdiv img{
        width: 80%;
        height: 50%;
        padding-left: 10%;
    }

    .lastdiv1 img{
        width: 80%;
        height: 50%;
        padding-left: 10%;
    }
    .lastdiv1 p{
        padding-left: 7%;
        width: 90%;
    }
}


/* screen 380 */

@media screen and (max-width:380px) {
    body{
        width: 105%;
    }
    
}

/* screen 360 */

@media screen and (max-width:360px) {
    body{
        width: 110%;
    }
    .footerdiv1 {
        padding-left: 25%;
    }


}

/* screen 358 */
@media screen and (max-width:358) {
    body{
        width: 115%;
    }
}

/* screen 346 */
@media screen and (max-width:346px) {
    body{
        width: 120%;
    }
}