* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Montserrat;
    width: auto;
    margin: auto;
    padding: auto;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}



/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    border-bottom: 1px solid #5c5b5b;
}

#search {
    width: 130px;
    border-: 1px solid #026800E5;
    border-radius: 6px 0px 6px 0px;
    padding: 5px;
}

nav ::placeholder {
    font-family: Montserrat;
    font-size: 16px;
}

.submit {
    background-color: #026800E5;
    border: none;
    height: 30px;
    width: 36px;
    margin: none;
    cursor: pointer;
    border-radius: 6px 0px 6px 0px;
}

.nav {
    display: flex;
    gap: 30px;
}

nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #2B2B2B;
    margin-top: 4px;

}

header img {
    width: 12%;
}









/* MAIN/ */

main{
    padding: 0% 3% 0% 3%;
}
.div{
height: 10rem;
}


.firstdiv p{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0% 7% 0% 7%;
    /* padding: 0% 15 0px 15px; */
    }
    
    .firstdiv{
    height: 10rem;
    
    }
    
    
/* SECOND DIV */

.seconddiv{
    width: 1,301px;
    display: flex;
    align-items: center;
    justify-content: center;
height: 618px;
top: 471px;
margin-top: 5%;
gap: 24px;

}

.seconddiv img{
    width: 501px;
height: 580px;
border-radius: 10px;

}

.seconddiv div{
    width: 776px;
height: 554px;
gap: 24px;

}

.seconddiv p{
font-family: Montserrat;
line-height: 21px;
letter-spacing: 0em;
text-align: left;


}

.seconddiv h3{
font-family: Montserrat;
font-size: 21px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: center;

}
/* FOOTER */

footer {
    background-color: #D9D9D9;
    display: flex;
    width: auto;
    height: auto;
    /* top: 1634px; */

}

#png {
    width: 70%;
    align-items: center;
    margin: 10%;
}

.footerdiv1 {
    padding: 1%;
    margin-left: 7%;
}

.png {
    display: flex;
    gap: 16px;

}

.png img {
    width: 40px;
    height: 40px;

}


.footerdiv2 {
    padding: 1%;
}

.footerdiv3 {
    padding-right: 4%;
}

.graduate {
    font-family: Graduate;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}

.links {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email {
    width: 240px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 7px;
}

.email1 {
    width: 240px;
    padding: 10px;
    border-radius: 19px;
    border: none;
    background-color: #014400;
}

.email1:hover {
    background-color: #FFFFFF;

}

.email1 a {
    color: black;
}