* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Montserrat;
    width: auto;
    margin: auto;
    padding: auto;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
    color: #2B2B2B;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;

}

#search {
    width: 130px;
    border: 1px solid #026800E5;
    border-radius: 6px 0px 6px 0px;
    padding: 5px;
}

nav ::placeholder {
    font-family: Montserrat;
    font-size: 16px;
}

.submit {
    background-color: #026800E5;
    border: none;
    height: 30px;
    width: 36px;
    margin: none;
    cursor: pointer;
    border-radius: 6px 0px 6px 0px;
}

.nav {
    display: flex;
    gap: 30px;
}
.icon{
    display: none;
}
nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #2B2B2B;
    margin-top: 4px;

}

header img {
    width: 12%;
}


/* MAIN */
.solo {}

.firstdiv {
    /* width: 1440px; */
    background-image: url('mountains-139012_1280\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 12%;

}

.firstdiv h2 {
    color: #CCDACC;
    font-family: Graduate;
    /* font-size: 22px; */
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}

.firstdiv p {
    color: #FFFFFF;
    text-align: center;
    /* width: 50%; */
    padding: 3% 10% 0% 10%;
    line-height: 30px;
}





/* LAST */

.last {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
}


.lastdiv {
    width: 380px;
    height: 323px;
    top: 2279px;
    left: 69px;

}


.lastdiv img {
    width: 380px;
    height: 250px;
    border-radius: 10px;
}

.lastdiv p {
    /* font-size: 21px; */
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B2B2B;
    /* width:190px; */
}


.lastdiv p {
    text-align: center;
}




.more {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid#014400;
    gap: 10px;
    color: #014400;
    text-align: center;
    margin-left: 40%;

}

.more:hover {
    background-color: #014400;

}

.more a:hover {
    color: white;
}

.more a {
    color: #014400;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;


}

.last1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
    margin-bottom: 15%;

}

.lastdiv1 {
    width: 380px;
    height: 323px;
    top: 2279px;
    left: 69px;
}

.lastdiv1 img {
    width: 380px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lastdiv1 h3 {
    text-align: center;
}

.lastdiv1 p {
    text-align: left;
}












/* FOOTER */

footer {
    background-color: #D9D9D9;
    display: flex;
    width: auto;
    height: auto;
    /* top: 1634px; */

}


#png {
    width: 70%;
    align-items: center;
    margin: 10%;
}

.footerdiv1 {
    padding: 1%;
    margin-left: 7%;
}

.png {
    display: flex;
    gap: 16px;

}

.png img {
    width: 40px;
    height: 40px;

}


.footerdiv2 {
    padding: 1%;
}

.footerdiv3 {
    padding-right: 4%;
}

.graduate {
    font-family: Graduate;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}

.links {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email {
    width: 240px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 7px;
}

.email1 {
    width: 240px;
    padding: 10px;
    border-radius: 19px;
    border: none;
    background-color: #014400;
}

.email1:hover {
    background-color: #FFFFFF;

}

.email1 a {
    color: black;
}




/* MEDIA QUERRY */


@media screen and (max-width:563px) {
   
    /* HEADER */


  header img{
width: 35%;
  }  
.nav{
    display: none;
    flex-direction: column;
}


.submit{
    display: none;
}
#search{
    display: none;
}

nav .icon{
    display: block;

}
nav a{
text-decoration: none;
color: black;
}

.visible{
    display: block;
    padding: 10px;
}





/* FOOTER */
footer{
    flex-direction: column;
    width: 100%;
}
hr{
    flex-direction: row;
    width: 100%;
}
#png{
    width: 40%;
}
.png img{
    width: 40px;
height: 40px;

}
.footerdiv1{
  padding-left: 20%; 
  
}
}

/* mobile s 320px */

@media screen and (max-width:360px) {


    footer{
        width: 120%;
    }
}


/* mobile s 300px */

@media screen and (max-width:300px) {


    footer{
        width: 150%;
    }
}

/* mobile s 240px */

@media screen and (max-width:240px) {

    footer{
        width: 200%;
    }
}