* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Montserrat;
    width: auto;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    height: auto;
}

#search {
    width: 130px;
    border: 1px solid #026800E5;
    border-radius: 6px 0px 6px 0px;
    padding: 5px;
}

nav ::placeholder {
    font-family: Montserrat;
    font-size: 16px;
}

.submit {
    background-color: #026800E5;
    border: none;
    height: 30px;
    width: 36px;
    margin: none;
    cursor: pointer;
    border-radius: 6px 0px 6px 0px;
}

.nav {
    display: flex;
    gap: 30px;
}

nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #2B2B2B;

}

header img{
    width:12%;
}


/* FIRST SECTION  */

.firstsection {
    background-image: url('New-Zealand-Mountains-Header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 878px;
    top: 146px;
    padding: 385px 767px 215px 68px;
    border: 1px
}

.firstsection p {
    font-size: 31px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 605px;
}

.firstsection button {
    width: 164px;
    height: 46px;
    top: 617px;
    left: 68px;
    padding: 10px 20px 10px 20px;
    border-radius: 9px 0px 9px 0px;
    border: 1px solid rgb(53, 52, 52);
    gap: 10px;
    cursor: pointer;
    background-color: #044903;
}

.firstsection button:hover {
    background-color: white;
}

.firstsection a:hover {
    color: #014400;
}

.firstsection a {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}



/* SECOND SECTION */





.secondsection h2 {
    color: #2B2B2B;

    text-align: center;

}

.secondsectiondiv1 div {
    display: flex;
    padding: 10px;
    gap: 24px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.secondsectiondiv1 button {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid#014400;
    gap: 10px;
    color: #014400;
    text-align: center;

}

.secondsectiondiv1 button:hover {
    background-color: #014400;
}

.secondsectiondiv1 a:hover {
    color: white;
}

.secondsectiondiv1 a {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;

    color: #014400;
}



.secondsectiondiv2 {
    width: auto;
    height: 773px;
    gap: 15px;
    display: flex;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.div1 {
    width: 415px;
    height: 773px;
    padding: 0px 0px 20px 0px;
    border-radius: 10px 10px 0px 0px;

}

.div1 img {
    width: 400px;
    /* height: 450px; */
    width:414.68px;
    Height: 490px;
border-top-left-radius: 10px; 
border-top-right-radius: 10px;
}



.div1 h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B2B2B;

}

.div1 p {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B;
    width: 380px;
    margin: 15px;

}

.div1 button {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 9px 0px 9px 0px;
    border: 1px solid#014400;
    gap: 10px;
    color: #014400;
    text-align: center;
    margin-left: 30%;
}

.div1 button:hover {
    background-color: #014400;

}

.div1 a:hover {
    color: white;
}

.div1 a {
    color: #014400;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;


}


.secondsectiondiv3{
    /* margin-left: 3%; */
    width: 1,312px;
}

.post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post h2{
text-align: center;
color: #2B2B2B;

}
.post hr{
    width: 510px;
    height: 0%;
    border: 1px solid #2B2B2B;

}

.stay{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.stay p{
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B2B2B;
width:672px;
}

.lastdiv{
    width: 380px;
    height: 323px;
    top: 2279px;
    left: 69px;
    border-radius: 15px;
    background-color: #D4D4D4;
    
}

.last{
    display: flex;
align-items: center;
justify-content: center;
gap: 25px;
}
.lastdiv img{
    width:  380px;
    height: 250px;
border-top-left-radius: 10px; 
border-top-right-radius: 10px;
}

.lastdiv p{
font-size: 21px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #2B2B2B;
}